*{
  margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;

}
.App{
  width:100vw
}
.products{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}