
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

.success-msg,
.error-msg {
  margin: 50px 300px;
  padding: 5px;
  border-radius: 3px 3px 3px 3px;
  width: 45%;
  

}

.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
  font-family: 'Cairo', sans-serif;
  font-weight: 500;
  /* padding:0 10px; */
  position: relative;
  
}

.success-msg {
  color: #270;
  background-color: #DFF2BF;
  font-family: 'Cairo', sans-serif;
  font-weight: 500;
  /* padding:0 10px; */
  position: relative;
  
}
.fa-check{
  position: relative;
  right: 1%;
  margin: 0 5px;
  padding: 0 3px;
}
.fa-times-circle{
  position: relative;
  right: 1%;
  margin: 0 5px;
  padding: 0 3px;

}