@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@700&display=swap');

.container_filter{
width: 90%;
height: 40vh;
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 10px 0 0 35px;

}
.form-search{
    width: 200px;
    height: 30px;
  
    margin-top: 1%;
    padding: 2px;
    
    font-size: 18px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #F3C892;
  
    outline: none;
    border: none;
  
    border-radius: 5px 5px 5px 0px;
    transition: 0.2s linear;
}
.search{
    border:#5E6472 2px solid;
    border-radius: 10px;
}
.button-search{
    margin-left: 30px;
    background-color:#FFF1BD ;
}